*{
    margin: 0;
}
a{
    text-decoration: none;
}
.navbar{
    color:white;
    background-color: rgb(0, 115, 255);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo-tag1{
     color: white;
     font-size: 1rem ;
     margin-left: 5px;
}
.logo-tag2{
     color: whitesmoke;
     font-size: 0.85 rem;
     margin-left: 15px;
}
.logo{
    width: 45px;
    color: white;
    display:flex;
    align-items: center;
}
.border{
    height: 40px;
    width: 75px;
    border: 1.5px solid transparent;
}
.logo-border{
    margin-left: 10px;
}
.border:hover{
    border:1.5px solid white ;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(77, 126, 161);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid black;
}
/* box4 */
span{
    font-size: 0.85rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box6 */
.nav-cart i{
   font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel1 */
.panel1{
    height: 30px;
    width: 100%;
    background-color: rgb(0, 179, 255);
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
}
/* .panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.9rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */
.panel1{
    background-color: rgb(0, 179, 255);
    height: 30px;
    width: 100%;
}
.panel1 ul{
    float:center;
    padding-top: 4px;
    margin-right: 22px;
}
.panel1 ul li{
    display:inline-block;
    line-height: 15px;
    margin:0 4px;
    padding-right: 20px;
}
.panel1 ul li a{
    color: white;
    font-size: 16px;
    padding: 8px 14px;
}
.checkb{
    font-size: 25px;
    color:white;
    float:left;
    line-height: 30px;
    margin-left: 5px;
    cursor:pointer;
    display: none;
}
#check{
    display:none;
}

/* .margin1{
    height: 20px;
    width: 60px;
    border: 1.5px solid transparent;   
}
.margin1:hover{
    border-bottom: 6px solid black;
    align-items: center;
} */
.hm{
    color:white
}
.hero-content{
    background-image: url("../media/hero_image.webp");
    background-size: cover;
    height:520px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    color:black;
    background-color: aliceblue;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 96%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: rgb(0, 85, 255);
}
.news-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.updates{
    background-color: #e2e7e6;
    display:flex;
}
.nu{
    background-color: #e2e7e6;
    margin-top: 10px;
    margin-left: 30px;
}
.box{
      /* border:2px solid black; */
     height:190px;
     width: 30%;
     background-color: white;
     padding: 20px 0px 15px;
     margin-top:20px;
     margin-bottom: 20px;
     transition-property: all;
     transition-duration: 1s;
}
.box:hover{
    height:200px ;
    width: 33%;
}
.news{
      height:100px;
      background-size: cover;
      margin-top: 1rem;
      margin-bottom: 1rem;
}
.news-content{
      margin-left: 1rem;
      margin-right: 1rem;
}
.news-content p{
      color:rgba(0, 0, 0, 0.17);
}
.pop-comp{
    background-color: #e2e7e6;
    display: flex;
}
.pop-comp1{
    background-color: #e2e7e6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.competition{
    background-color: #e2e7e6;
    margin-top: 10px;
    margin-left: 30px;
}
.cp{
    background-color: white;
    /* border: 2px solid black; */
    height: 65px;
    width: 5.8%;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-property: all;
    transition-duration: 1s;
}
.comps{
     /* margin-left: 1rem;  */
    margin-right: none; 
}
.cp:hover{
    height: 70px;
    width: 6.5%;
}
.leagues{
    background-size: cover;
    height: 65px;
}
.leagues4{
    background-size: cover;
    height:82px;
}
a {
    color:black;
    text-decoration: none;
}
.teams{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.team{
    background-size: cover;
    height:185px;
}
 /* footer */
.footer1{
    height: 200px;
    width:100%;
    background-color: rgb(0, 60, 255);
}
.footer2{
    height: 60px;
    width:100%;
    background-color: rgb(6, 18, 57);
}
@media (max-width:950px){
    .panel1 ul li a{
      font-size: 15px;
    }
}
@media (max-width:858px)
{
    .checkb{
        display:block;
        color: white;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background: rgb(5, 9, 63);
        top:90px;
        left:-150%;
        text-align: center;    
        transition: all 0.25s;
    }
    .panel1 ul li{
      display: block;
      padding-bottom: 30px;
      padding-top: 30px;
      padding-right: 45px;
    }
    .panel1 ul li a{
        font-size:20px;
    }
    #check:checked~ul{
        left:0;
    }  
    .hm{
        color:white
    }
    .hero-content{
        background-image: url("../media/hero_image.webp");
        background-size: cover;
        height:560px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
@media (max-width:750px)
{
    .hero-content{
        background-image: url("../media/hero_image.webp");
        background-size: cover;
        height:360px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
@media (max-width:650px)
{
    .hero-content{
        background-image: url("../media/hero_image.webp");
        background-size: cover;
        height:340px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
@media (max-width:550px)
{
    .hero-content{
        background-image: url("../media/hero_image.webp");
        background-size: cover;
        height:320px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
@media (max-width:450px)
{
    .hero-content{
        background-image: url("../media/hero_image.webp");
        background-size: cover;
        height:230px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
@media (max-width:350px)
{
    .hero-content{
        background-image: url("../media/hero_image.webp");
        background-size: cover;
        height:150px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
@media (max-width:250px)
{
}
